.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: 'Montserrat', sans-serif;
  position: relative;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
:root {
  --primary-color: #787a91;
  --dark-color: #0f044c;
  --txt-color: #ffffff;
  --txt-color-form: #999999;
  --danger-color: #cc2233;
  --success-color: #66e932;
  --highlighted-color: #00b7ff;
}

.app-container{
  max-width: 90rem;
  margin: auto;
  }
 

@media(max-width:900px){
  
    .guests {
      grid-template-columns: repeat(2, 1fr);
    
     }
  }
@media(max-width:760px){

.sm-hide{
    display: none;
}
li {
    padding:0.2rem
}
.register , .login {
    width: 70%
}
.main , .filter , .guests{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.invite-section {
    width: 100%;
    margin: auto
}
table{
    font-size:12px;
}
.navbar {
padding: 1rem 0;
font-size: 12px
    }
    .navbar h1 {
    font-size: 14px
    }

.guest-card{
    width: 100%
}
table{
    margin:0
}
}

.item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }

