.guests {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 90%;
    margin: auto;
    margin-top:3.4rem;
    padding: 1.1rem
  }

  .main--div-guests{
    padding-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(0, 153, 224, 0.664);
    border-radius: 0.3rem;
  }