.filter{
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  align-items: baseline;
  margin-top:1rem;
  width: 100%;
  flex-wrap: wrap;
  order:3
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(187, 137, 0, 0.63);
    border-radius: 0.3rem;
    padding: 3rem;
  }